<%- include('./partials/header'); -%>
<section class="pcoded-main-container">
  <div class="pcoded-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
      <div class="page-block">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title">
              <h5 class="m-b-10">Tài khoản bị vô hiệu hóa</h5>
            </div>
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="/admin"><i class="feather icon-home"></i></a></li>
              <li class="breadcrumb-item"><a href="#!">Quản lý tài khoản</a></li>
              <li class="breadcrumb-item"><a href="#!">Tài khoản bị vô hiệu hóa</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="card">
          <div class="card-header">
            <h5>Danh sách tài khoản bị vô hiệu hóa</h5>
          </div>
          <div class="card-body table-border-style">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Số tài khoản</th>
                    <th>Họ và tên</th>
                    <th>Địa chỉ Email</th>
                    <th>Số điện thoại</th>
                  </tr>
                </thead>
                <tbody>
                  <% result.forEach((data, index) => { %>
                    <tr>
                      <td><%= ++index; %></td>
                      <td><a type="button" data-toggle="modal" data-target="#account-wait-activated" style="color: #1abc9c;"
                        onclick="InfoUser('<%= data.id%>', '<%= data.fullname%>', '<%= data.username%>', '<%= data.birthday%>', '<%= data.email%>', '<%= data.phone%>', '<%= data.address%>', '<%= data.id_card[0]%>', '<%= data.id_card[1]%>')">
                        <%= data.username%></a>
                      </td>
                      <td><%= data.fullname; %></td>
                      <td><%= data.email; %></td>
                      <td><%= data.phone; %></td>
                    </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      function InfoUser(id, fullname, username, birthday, email, phone, address, id_card1, id_card2) {
        document.getElementById("user-id").value = id;
        document.getElementById("user-fullname").value = fullname;
        document.getElementById("user-username").value = username;
        document.getElementById("user-birthday").value = birthday;
        document.getElementById("user-email").value = email;
        document.getElementById("user-phone").value = phone;
        document.getElementById("user-address").value = address;
        document.getElementById("user-id_card1").src = "../uploads/" + username + "/" + id_card1;
        document.getElementById("user-id_card2").src = "../uploads/" + username + "/" + id_card2;
        document.getElementById("user-a-id_card1").href = "../uploads/" + username + "/" + id_card1;
        document.getElementById("user-a-id_card2").href = "../uploads/" + username + "/" + id_card2;
      }
    </script>

    <div id="account-wait-activated" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="account-wait-activatedTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="account-wait-activatedTitle">THÔNG TIN TÀI KHOẢN</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group row mb-0">
                <label for="" style="font-weight: bold;" class="col-sm-4 col-form-label">Họ và tên: </label>
                <div class="col-sm-8">
                    <input type="text" readonly="" class="form-control-plaintext" id="user-fullname">
                </div>
              </div>
              <div class="form-group row mb-0">
                <label for="" style="font-weight: bold;" class="col-sm-4 col-form-label">Số tài khoản: </label>
                <div class="col-sm-8">
                    <input type="text" readonly="" class="form-control-plaintext" id="user-username">
                </div>
              </div>
              <div class="form-group row mb-0">
                <label for="" style="font-weight: bold;" class="col-sm-4 col-form-label">Ngày sinh: </label>
                <div class="col-sm-8">
                    <input type="text" readonly="" class="form-control-plaintext" id="user-birthday">
                </div>
              </div>
              <div class="form-group row mb-0">
                <label for="" style="font-weight: bold;" class="col-sm-4 col-form-label">Địa chỉ Email: </label>
                <div class="col-sm-8">
                    <input type="text" readonly="" class="form-control-plaintext" id="user-email">
                </div>
              </div>
              <div class="form-group row mb-0">
                <label for="" style="font-weight: bold;" class="col-sm-4 col-form-label">Số điện thoại: </label>
                <div class="col-sm-8">
                    <input type="text" readonly="" class="form-control-plaintext" id="user-phone">
                </div>
              </div>
              <div class="form-group row mb-0">
                <label for="" style="font-weight: bold;" class="col-sm-4 col-form-label">Địa chỉ: </label>
                <div class="col-sm-8">
                    <textarea class="form-control-plaintext" readonly="" disabled id="user-address" cols="10" rows="3"></textarea>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-6">
                  <a href="" id="user-a-id_card1"><img src="" id="user-id_card1" alt="" style="width: 200px; height: 100px;"></a>
                </div>
                <div class="col-6">
                  <a href="" id="user-a-id_card2"><img src="" id="user-id_card2" alt="" style="width: 200px; height: 100px;"></a>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <form action="" method="post">
              <input type="hidden" id="user-id" name="id">
              <button type="submit" class="btn btn-sm btn-primary" name="disable" value="0">Hủy vô hiệu hóa</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- [ Main Content ] end -->
  </div>
</section>
<%- include('./partials/footer'); -%>