<%- include('./partials/header'); -%>
  <section class="pcoded-main-container">
    <div class="pcoded-content">
      <!-- [ breadcrumb ] start -->
      <div class="page-header">
        <div class="page-block">
          <div class="row align-items-center">
            <div class="col-md-12">
              <div class="page-header-title">
                <h5 class="m-b-10">Lịch sử rút tiền</h5>
              </div>
              <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin"><i class="feather icon-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#!">Lịch sử giao dịch</a></li>
                <li class="breadcrumb-item"><a href="#!">Lịch sử rút tiền</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12">
          <div class="card">
            <div class="card-header">
              <h5>Danh sách Lịch sử rút tiền</h5>
            </div>
            <div class="card-body table-border-style">
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Họ và tên</th>
                      <th>Số tiền</th>
                      <th>Phí giao dịch</th>
                      <th>Trạng thái</th>
                      <th>Thời gian thực hiện giao dịch</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% withdraw.forEach((field, index) => { %>
                      <tr>
                        <td><%= ++index; %></td>
                        <td><%= field.user_fullname; %></td>
                        <td><%= field.amount; %></td>
                        <td><%= field.fee; %></td>
                        <td><%= field.status; %></td>
                        <td><%= field.made_at; %></td>
                      </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- [ Main Content ] end -->
    </div>
  </section>
<%- include('./partials/footer'); -%>